<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
    
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
 
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IRetards" />
        <binding name="BasicHttpBinding_IServiceBiblio" />
        <binding name="BasicHttpBinding_IServiceLecteur" />
        <binding name="BasicHttpBinding_IReservationsService" />
        <binding name="BasicHttpBinding_IServiceEmprunts" />
        <binding name="BasicHttpBinding_IServiceExemplaires" />
        <binding name="BasicHttpBinding_IServiceLivres" />
        <binding name="BasicHttpBinding_IServiceLivres1" />
        <binding name="BasicHttpBinding_IServiceExemplaires1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/wcflibrary/Retards/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRetards"
        contract="ServiceReferenceRetard.IRetards" name="BasicHttpBinding_IRetards" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/wcflibrary/ServiceBiblio/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceBiblio"
        contract="ServiceReferenceBiblio.IServiceBiblio" name="BasicHttpBinding_IServiceBiblio" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/wcflibrary/ServiceLecteur/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceLecteur"
        contract="ServiceReferenceLecteur.IServiceLecteur" name="BasicHttpBinding_IServiceLecteur" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/wcflibrary/ReservationsService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReservationsService"
        contract="ServiceReferenceReservations.IReservationsService"
        name="BasicHttpBinding_IReservationsService" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/wcflibrary/ServiceEmprunts/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceEmprunts"
        contract="ServiceReferenceEmprunts.IServiceEmprunts" name="BasicHttpBinding_IServiceEmprunts" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/wcflibrary/ServiceExemplaires/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceExemplaires"
        contract="ServiceReferenceExemplaires.IServiceExemplaires" name="BasicHttpBinding_IServiceExemplaires" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/wcflibrary/ServiceLivres/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceLivres"
        contract="ServiceReferenceLivres.IServiceLivres" name="BasicHttpBinding_IServiceLivres" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/wcflibrary/ServiceLivres/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceLivres1"
        contract="ServiceReferenceLivre.IServiceLivres" name="BasicHttpBinding_IServiceLivres1" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/wcflibrary/ServiceExemplaires/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceExemplaires1"
        contract="ServiceReferenceCopy.IServiceExemplaires" name="BasicHttpBinding_IServiceExemplaires1" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
</configuration>